doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        include ./menubar.pug
        
        form(action="/authentication/login", method="post")
            input#emailinp(type="email", name="email")
            input#pwdinp(type="password", name="pwd") 
            button(type="submit") LOGIN
        include ./footer.pug