section#header
  a(href='legal/privacy.html') Privacy Policy
  a(href='legal/tnc.html') Terms and Conditions
  #dropdown
    button LOGIN
    #dropdown-content
      a(href='authentication/login.php') Login into existing account
      a(href='authentication/register.php') Create a new account
  #dropdown
    button
    #dropdown-content
      a(href='authentication/changepwd.php') Change passowrd
      a(href='index.php?logout=true') Logout