section#header
  a(href='legal/privacy.html') Privacy Policy
  a(href='legal/tnc.html') Terms and Conditions
  if(!username)
    #dropdown
      button LOGIN
      #dropdown-content
        a(href='authentication/login') Login into existing account
        a(href='authentication/signup') Create a new account
  else
    #dropdown
      button #{username}
      #dropdown-content
        a(href='authentication/changepwd') Change passowrd
        a(href='/logout?logout=true') Logout