section#logo-section
  .left-align
    img(src='assets/images/logo.gif' alt='Music Hub logo')
    h1 MUSIC HUB
    p
      | ----------------------------------------------------
      br
      | One stop shop for all your musical needs
  .right-align
    form(method='get' action='search.html')
      input(type='search' name='keyword' placeholder='search for songs, artists, playlists, etc...')
      button(type='submit')
        i.bi.bi-search