section#menubar
  ul
    li
      a.active(href='index.html') Home
    li
      a(href='recent.html') Recently Added
    li
      a(href='fav.html') Favourites
    li
      a(href='newhits.html') New Hits
    li
      a(href='playlists.html') Playlists
    li
      a(href='about.html') About Us